.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
  overflow-x: scroll;
  gap: 60px;
  margin-left: 10px;
  padding: 60px;
  scroll-snap-type: x mandatory;
}

.grid > .image {
  scroll-snap-align: start;
  scroll-behavior: smooth;
  width: 300px;
  height: 300px;
}
